/* ADAPTACIÓN DE ESTILOS PARA DISTINTOS TAMAÑOS */

@media (min-width:375px) and (max-width:1231px) {
    body {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0%;
        padding: 0%;
    }


    /* Encabezado */

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .layout_cabecera_botones {
        display: flex;
        justify-content: space-around;
        align-items: end;
        margin-right: 0;
    }



    /* Sección Acerca de mí */



    /* Trabajos */


    /* Contacto */


    /* Footer */

    .layout_footer {
        width: 100%;
        height: 8.938rem;
    }

    .layout_footer_redes {
        gap: 5.5%;
        padding: 0;
        padding-top: 1.9rem;

    }

    .layout_footer_redes_logos {
        width: 4.063rem;
        height: 4.063rem;
    }

    .layout_footer_copy {
        width: 100%;
        height: 0.813rem;
        padding-top: 1.1rem;
    }

    .layout_footer_copy_h2 {
        font-size: 0.75rem;
    }

}





@media (min-width:375px) and (max-width:900px) {

    .layout_cabecera_logo_titulo_h1 {
        font-size: 2.5rem;

    }

    .layout_cabecera_logo_titulo_h2 {
        font-size: 1.7rem;

    }



    .layout_contacto {
        width: 100%;
        padding-top: 0;
        justify-content: center;
        align-items: center;
    }


    .layout_contacto_titulo {
        width: 100%;
        height: 2.375rem;
    }

    .layout_contacto_h1 {
        font-size: 2.188rem;
        margin-top: 3.125rem;
    }

    .layout_contacto_form {
        margin-top: 7.5rem;
        align-items: center;
        width: 80%;
    }

    .layout_contacto_nombreymail {
        gap: 0.1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    #nombre {
        width: 100%;
        height: 3.125rem;
        font-size: 1.25rem;
        margin-bottom: 5%;
    }

    #email {
        width: 100%;
        height: 3.125rem;
        font-size: 1.25rem;
    }

    .layout_contacto_mensaje {
        height: 5rem;
        width: 100%;
    }

    #mensaje {
        width: 100%;
        height: 9.438rem;
        padding: 2.5rem;
        margin-top: 1.25rem;
        font-size: 1.25rem;
        margin-top: 5%;
    }

    .layout_contacto_enviar {
        margin-top: 13.75rem;
    }

    #enviar {
        width: 8.75rem;
        height: 3.125rem;
        font-size: 1.563rem;
    }


}


@media (min-width:375px) and (max-width:650px) {

    .layout_cabecera_logo_titulo_h1 {
        font-size: 2.0rem;

    }

    .layout_cabecera_logo_titulo_h2 {
        font-size: 1.3rem;

    }

    .layout_sobremi {
        padding-top: 50px;
    }


}

@media (min-width:375px) and (max-width:401px) {

    .layout_cabecera_botones_span {
        font-size: 1.1rem;
    }

}








/*
    @media  (min-width: 375px) and (max-width:770px){

        .layout_cabecera_logo_titulo_h1{
            font-size: 2.125rem;
        }
        .layout_cabecera_logo_titulo_h2{
            font-size: 1.18rem;
        }
        .layout_cabecera_logo_foto{
            margin-top: 29rem;
        }
    
    }
        
    