
/* ESTILOS PARA 1392px -MEDIDA EN QUE APARECE PROYECTO EN FIGMA- */

body{
    background-color: black;
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;   
}

/* Contenedor general de la página */

.layout{
    width: 100%; 
}

/* Contenedor general de la página */

.layout_cabecera{
    background-image: url(../assets/imgs/Fondos/fondocabecera.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

nav{
    display: flex;
    justify-content: end;
    
    
}

.layout_cabecera_botones{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 4%;
    margin-top: 2%;
}
.layout_cabecera_botones_span{
    font-family: "Julius Sans One", sans-serif;
    font-weight: lighter;
    font-size: 1.375rem;
    border: none;
}

.layout_cabecera_botonesArriba{
    border: none;
    background-color: #FBD9D9; 
    border-radius: 3%;
    font-size: 1.25rem;
}


.enlacesArriba{
    text-decoration: none;
    color: black;
    
}
.enlacesArriba:hover{
    color: white;
    
}
a{
    text-decoration: none;
}

.layout_cabecera_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
 
}
.layout_cabecera_logo_titulo{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1%;
    
     
    animation: mianimationborde;
    animation-duration: 4s;
}

/* Animación borde título principal */
@keyframes mianimationborde {
    0% {border: 1px solid black;}
    25% {border: 1px solid gray;}
    50% {border: 1px solid rgb(209, 205, 205);}
    100% {border: 1px solid white;}
    
}
.layout_cabecera_logo_titulo_h1{
    font-weight: 400;
    font-size: 3.125rem;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-top: 3%;
    margin-bottom: 3%;

    animation: animaciontitulo;
    animation-duration: 4s;

}

/* Animación color título principal */
@keyframes animaciontitulo {
    0% {
        transform: scale(0);
        color: black;
    }
    50% {
        transform: scale(1);
        color: #D79E1A;
    } 
}

.layout_cabecera_logo_titulo_h2{
    font-weight: 400;
    font-size: 2.18rem;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    margin-block-start: 0%;
    margin-block-end: 0%; 

    animation: animaciontituloh2;
    animation-duration: 4s;
}

/* Animación color h2 de título principal */
@keyframes animaciontituloh2 {
    0% {
        transform: scale(0);
        color: #D79E1A;
    }
    25%{
        color: black;
    }
    85% {
        transform: scale(1);
        color: #D79E1A;
    }
}

.layout_cabecera_logo_foto{
    display: flex;
    justify-content: center;
    width: 15.6rem;
    height: 15.6rem;
    margin-top: 35rem;
    position: absolute;
}

#foto_juan{
    width: 15.6rem;
    height: 15.6rem;
    border-radius: 100%;
}

/* Sección Acerca de mí */

.layout_sobremi{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 60px;
 
}

.layout_sobremi_textos{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}
.layout_sobremi_textos_titulo{
    color: #FF6A6A;
    font-size: 2.06rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
}

.layout_sobremi_textos_parrafo{
    font-size: 1.56rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
}

/* Sección Trabajos */

.layout_trabajos{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF4F4; 
    padding-bottom: 60px;
}

.layout_trabajos_titulo{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.layout_trabajos_titulo_h1{
    color: #FF6A6A;
    font-size: 2.375rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
    position: relative;
    top: -30%;

}
.layout_trabajos_articulos{
    display: flex;
    flex-direction: column;
}

.layout_trabajos_trabajo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout_trabajos_trabajo:hover{
    transform: scale(1.1);
}

.layout_trabajos_articulos_bloque{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}

.layout_trabajos_h2{
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
    color: black;   
}
.layout_trabajos_h3{
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
    color: #FF4A4A;
    position: relative;
    top: -8%;
}
.trabajos_img{
    width: 12.68rem;
    height: 12.68rem;
    border-radius: 0.312rem;
}

/* Sección Contacto */

.layout_contacto{
    background-color: white;

    display: flex;
    flex-direction: column;
    padding: 50px 0 120px;
}

.layout_contacto_titulo{
    display: flex;
    justify-content: center;
    height: 10%;
}
.layout_contacto_h1{
    font-size: 2.375rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
    margin-top: 0;
    color: black;
}
.layout_contacto_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:50px;
}
.layout_contacto_nombreymail{
    display: flex;
    flex-wrap: wrap;
    gap: 12.5%;
    justify-content: center;
    width: 100%;
}

#nombre{
    width: 23%;
    height: 100%;
    border: 0.125rem solid black;
    border-radius: 0.312rem;
    text-align: center;
    font-size: 1.56rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
    color: black;
}
#email{
    width: 23%;
    height: 100%;
    border: 0.125rem solid black;
    border-radius: 0.312rem;
    text-align: center;
    font-size: 1.56rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
    color: black;
}
.layout_contacto_mensaje{
    display: flex;
    justify-content: center;
    height: 25%; 
}

#mensaje{
    width: 51.5%;
    height: 150%;
    padding: 4%;
    margin-top: 3%;
    border: 0.125rem solid black;
    border-radius: 0.312rem;
    text-align: center;
    font-size: 1.56rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
    color: black;
}

input::placeholder{
    color: #FF4A4A;
}

.layout_contacto_enviar{
    display: flex;
    justify-content: center;
    margin-top: 50px;  
}

#enviar{
    width: 12%;
    height: 100%;
    background-color: #FFD4D4;
    border: 0.125rem solid #FF4A4A;
    border-radius: 0.312rem;
    color: #FF4A4A;
    font-size: 1.875rem;
    font-weight: 400;
}
#enviar:hover{
    transform: scale(1.1);
}
button{
    background-color:#FBD9D9;
    border: none;
}

/* Sección Footer */

.layout_footer{
    background-color: #FFA4A4;

}

.layout_footer_redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    padding: 40px 0 20px 0;
}

.layout_footer_redes_logos{
    width: 7.125rem;
    height: 7.125rem;
    border-radius: 100%;
}
.layout_footer_redes_logos:hover{
    transform: scale(1.1);
}

.layout_footer_copy{
    display: flex;
    justify-content: center;

}
.layout_footer_copy_h2{
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Julius Sans One", sans-serif;
    color: black;
}



